
        /* RESET */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', sans-serif;
        }

        body {
            background: #0a0f1c;
            color: white;
            min-height: 100vh;
            overflow-x: hidden;
        }

        

      
        /* Hover glow */
        .badge:hover {
            box-shadow: 0 0 15px #00ff9c;
        }

        /* MAIN */
        .container {
            text-align: center;
            margin-top: 40px;
            padding: 0 5%;
            position: relative;
            z-index: 2;
        }

       
        /* TITLE */
        h1 {
            font-size: clamp(24px, 5vw, 42px);
            margin-bottom: 10px;
        }

        .subtitle {
            color: #aaa;
            font-size: clamp(12px, 2.5vw, 14px);
            margin-bottom: 30px;
        }





      
       